<h1>SHOW PAGE:</h1>
<p><%= @trip.passenger.user.name %></p>
<p><%= @trip.from %></p>
<p><%= @trip.to %></p>

<% if @trip.driver.nil? %>
    <p> You Dont Have A Driver </p>
    <a href="/passenger/book-trip/<%=@trip.id%>/driver/new">Select A Driver</a>
<% else %>
    <%= @trip.driver.user.name %>
<% end %>

  <button onclick="window.location.href = '/passenger/trip/<%=@trip.id%>/edit';">
    <i class="material-icons">clear</i>
  </button>

  <button onclick="window.location.href = '/passenger/trip/<%=@trip.id%>/edit';">
        <i class="material-icons">edit</i>
   </button>

    <button onclick="window.location.href = '/passenger/trip/<%=@trip.id%>';">
        <i class="material-icons">delete</i>
    </button>
