<%history_trips = @driver.trips.select{|trip| trip.status == "completed" || trip.status == "canceled" }.reverse%>
<%active_trip = @driver.trips.find{|trip| trip.status == "in route"}%>

<style>
    .bg-for-nav {
        background-color: #39374d !important;
    }
    .profile-img {
        font-size: 45px !important;
        color: #fff;
    }

    .hidden-btn-container{
        position: relative;
    }

    a.btn {
         visibility: hidden;
    }

    tr:hover a {
         visibility: visible;
    }

    tbody tr:hover{
        background-color: #f1f1f1;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 450px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .table-header {
        max-width: 1025px;
    }

    .table-center {

    }
    
    .table-wrapper-scroll-y:-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 5px;
    }

    .table-wrapper-scroll-y::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    .table-wrapper-scroll-y::-webkit-scrollbar-thumb
    {
        background-color: rgba(108,117,126, 0.5);
        border-radius: 5px;
    }

</style>

<div class="container">
    
    <nav class="navbar navbar-expand-md navbar-dark bg-for-nav">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1" href="#">Welcome, <%= @driver.user.name %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/driver/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/driver/trips/<%= active_trip ? active_trip.id : "no_active_trips"%>">Active Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/driver/trips">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/driver/reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <i class="material-icons profile-img">account_circle</i>
    </nav>






    <section>

        <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">History</a>
            </li>

        </ul>
        
        


            <%# HISTORY %>
            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active table-responsive-sm" id="home" role="tabpanel" aria-labelledby="home-tab">
                <% if !history_trips.empty?  %>
                    <%# <table class="table mt-5 table-header">
                        <thead>
                            <tr>
                                <th scope="col">WHERE FROM</th>
                                <th scope="col">WHERE TO</th>
                                <th scope="col"></th>
                                <th scope="col">&nbsp</th>
                                <th scope="col">PASSENGER</th>
                            </tr>
                        </thead>
                    </table> %>
                    <table class="table table-header position-fixed mt-5 table-wrapper-scroll-y my-custom-scrollbar ">
                        <thead>
                            <tr>
                                <th scope="col">WHERE FROM</th>
                                <th scope="col">WHERE TO</th>
                                <th scope="col"></th>
                                <th scope="col">PASSENGER</th>
                            </tr>
                        </thead>
                        <tbody class="animated fadeIn slow">
                        
                            <% history_trips.each do |trip| %>  
                                <%status_color = {
                                    "canceled" =>  "badge-danger",
                                    "pending" => "badge-secondary",
                                    "in route" => "badge-warning",
                                    "completed" =>  "badge-success",
                                }%>              
                                <tr>
                                    <td><%= trip.from %></td>
                                    <td><%= trip.to %></td>
                                    <td><span class="badge <%= status_color[trip.status] %> badge-pill"><%= trip.status %></span></td>
                                    <td class="text-muted"><%= !trip.passenger.nil? ? trip.passenger.user.name.capitalize : "No Driver" %></td>

                                    <td class="hidden-btn-container">
                                        <a class="btn btn-primary" href="/driver/trips/<%=trip.id%>"><i class="material-icons">remove_red_eye</i></a>
                                    </td>
                                </tr>
                            <% end %>

                        </tbody>
                    </table>



                <% else %>
                    <h1>NO TRIPS</h1>
                <%end %>

            </div>
        
        </div>

        
    </section>


</div>

